<div class="tabs">
    <button (click)="selectTab('users')">User Home</button>
    <button (click)="selectTab('products')">Product Home</button>
    <button (click)="selectTab('orders')">Order Home</button>
  </div>
  
  <div class="tab-content">
    <ng-container *ngIf="selectedTab === 'users'">
      <app-user-home></app-user-home>
    </ng-container>
    
    <ng-container *ngIf="selectedTab === 'products'">
      <app-product-home></app-product-home>
    </ng-container>
  
    <ng-container *ngIf="selectedTab === 'orders'">
      <app-order-home></app-order-home> <!-- Correctly referencing OrderHomeComponent -->
    </ng-container>
  </div>  